* {
    background-color: rgb(229, 182, 160);
    font-family: monospace;
}

ul {
    list-style: none;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(autofill, minmax(250px, 1fr)) */
    padding: 5px;
    gap: 20px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

li {
    border: 1px rgb(139, 6, 6) solid;
    padding: 10px;
    padding-bottom: 35px;
    display: block;
    overflow: hidden;
    height: 300px;
}

input {
    color: rgb(139, 6, 6);
}

h1,
h2,
form {
    margin-left: 5px;
}
