* {
    font-family: monospace;
}

body {
    background-color: rgb(229, 182, 160);
}

ul {
    list-style: none;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(autofill, minmax(250px, 1fr)) */
    padding: 5px;
    gap: 20px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

li {
    border: 1px rgb(139, 6, 6) solid;
    padding: 10px;
    padding-bottom: 30px;
    display: block;
    overflow: hidden;
    height: 300px;
}

input {
    color: rgb(139, 6, 6);
}

h1,
h2,
form {
    margin-left: 5px;
}

img:hover {
    cursor: pointer;
}

.modal {
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 80%;
    background-color: rgba(202, 40, 40, 0.8);
    text-align: center;
    color: white;
    text-transform: capitalize;
}

.modal img {
    overflow: scroll;
    position: relative;
    display: block;
    width: 80%;
    height: 350px;
    left: 10%;
}

.modal h3 {
    position: absolute;
    top: -1em;
    right: 0.5em;
    font-size: 2em;
    cursor: pointer;
}
